@import helper._
@import helper.twitterBootstrap._

@main("forgotpassword"){
	
	<div class="row">
		<div class="span10">
			<div class="span2"></div>
			<div class="span6">
				@helper.form(routes.UserController.resetPassword) {
			    	<fieldset>
			    		<legend>Forgot Password</legend>
			    		@if(flash.contains("error")) {
							<p class="alert alert-error">
			                    @flash.get("error")
			                </p>
			            }
			        	<label>E-Mail</label>
						<input class="span6" type="text" name="email" id="appendedInput">
					</fieldset>
						
					<div class="actions">
			    		<input type="submit" class="btn btn-medium btn-primary" value="Submit">
			    	</div>
				}
			</div>
			<div class="span2"></div>
		</div>
	</div>
	
}